Repository admarko/PhotoViewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: flake8
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: isort
        language: python
        types: [python]
        exclude: .+/(settings|migrations)/.+
        pass_filenames: true
      - id: eslint
        name: eslint-local
        entry: npm run lint
        language: system
        types: [javascript]
        exclude: >
          (?x)^(
              .+\.config\.js|
              server\.js|
              \.eslintrc\.js
          )$
        pass_filenames: true
defailt_language_version:
  python: python3.6

fix some stuff
  .eslintrc.json
  frontend/.eslintcache
  frontend/src/components/Home.jsx
Due: none

getting there...
  backend/views.py
  frontend/src/components/Home.jsx
  photoviewer/settings.py
Due: isort

Update .eslintignore
  frontend/.eslintignore
Due: none

Update Home.jsx
  frontend/src/components/Home.jsx
Due: none

fixing isort
  .pre-commit-config.yaml
  backend/serializers.py
Due: isort

testing isort precommit
  .isort.cfg
  .pre-commit-config.yaml
Due: none

stylelint + readme.?
  README.md
  frontend/src/components/__styles__/Index.scss
  frontend/src/components/__styles__/_shared.scss
Due: none

slider fixes
  frontend/.eslintrc.json
  frontend/src/components/Home.jsx
Due: none

eslint fixes
  frontend/.eslintcache
  frontend/package.json
  frontend/src/components/Home.jsx
  frontend/src/constants.js
  frontend/src/index.js
Due: eslint

added stylelint
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__styles__/_shared.scss
Due: none

package.json updates
  frontend/package-lock.json
  frontend/package.json
Due: none

add stylelint to sider
  sider.yml
Due: none

maybe this time?
  frontend/.stylelintrc.json
Due: none

Update sider.yml
  sider.yml
Due: none

///
  sider.yml
Due: none

fix
  frontend/.eslintcache
  frontend/src/components/Home.jsx
Due: none

Update _shared.scss
  frontend/src/components/__styles__/_shared.scss
Due: none

Some data cleanup
  README.md
  backend/management/commands/reset_db.py
  backend/models.py
  backend/serializers.py
  backend/views.py
Due: isort

changed app to typescript
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.js
  frontend/src/components/Home.tsx
Due: eslint

fixes
  frontend/.eslintcache
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.js
  frontend/src/components/Home.tsx
  frontend/tsconfig.json
Due: eslint

Create 0003_auto_20200325_0534.py
  backend/migrations/0003_auto_20200325_0534.py
Due: none

url -->> src
  backend/management/commands/reset_db.py
  backend/models.py
  backend/serializers.py
  frontend/src/components/Home.tsx
Due: isort

eslint fixes
  frontend/.eslintcache
  frontend/src/components/Home.tsx
Due: none

added icons
  frontend/.eslintcache
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Home.tsx
Due: none

some stying + classnames package
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Home.tsx
  frontend/src/components/__styles__/Home.scss
Due: none

fixes
  frontend/.eslintcache
  frontend/src/components/Home.tsx
  frontend/src/components/__styles__/Home.scss
  frontend/src/components/__styles__/_shared.scss
Due: none

added filtering endpoints
  backend/serializers.py
  backend/urls.py
  backend/views.py
Due: isort

added frontend filtering
  frontend/.eslintcache
  frontend/src/components/Home.tsx
Due: none

Added single photo select
  frontend/.eslintcache
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Home.tsx
  frontend/src/components/Photo.tsx
Due: none

added simple-import-sort
  frontend/.eslintcache
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.js
  frontend/src/components/Home.tsx
  frontend/src/index.js
Due: eslint

Separating header + footer
  frontend/.eslintcache
  frontend/public/index.html
  frontend/src/components/App.js
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/__styles__/App.scss
  frontend/src/components/__styles__/Footer.scss
  frontend/src/components/__styles__/Header.scss
  frontend/src/components/__styles__/Home.scss
  frontend/src/components/__styles__/Index.scss
  frontend/src/components/__styles__/_shared.scss
Due: eslint

CSS stylin + django admin
  backend/admin.py
  frontend/.eslintcache
  frontend/public/index.html
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/__styles__/Footer.scss
  frontend/src/components/__styles__/Header.scss
  frontend/src/components/__styles__/Index.scss
  frontend/src/components/__styles__/_shared.scss
Due: isort

Update README.md
  README.md
Due: none

Update index.html
  frontend/public/index.html
Due: none

Readme + settings fix
  README.md
  frontend/.eslintcache
  photoviewer/settings.py
Due: isort

Adding pipfile(lock) + requirements.txt
  Pipfile
  Pipfile.lock
  README.md
  requirements.txt
Due: none
